.ProjectPage {
  background-color: #0770DD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-wrapper {
  background-color: #fff;
  padding: 10%;
  opacity: 0;
  animation: fade-in-bottom ease 1s forwards;
}
.ProjectPage a {
  color: #0770DD;
  text-decoration: none;
}

.ProjectPage a:hover {
  color: #F79AF7;
}

.arrowsize {
  font-size: 1.4em;
  line-height: 0;
  color: #0770DD;
}

.ProjectPage .image{
width: auto;
height: auto;
display: flex;
justify-content: center;
align-items: center;
margin: 15% 0;
}

.ProjectPage img{
max-width: 100%;
max-height: 100%;
}

.ProjectPage h1{
color: #fff;
}

@media (max-width: 620px){
.ProjectPage {
  padding: 0 15px 90px 15px;
}

.ProjectPage .title {
  margin: 25px 0;
}

.project-wrapper{
  padding: 10%;
}

}

@media (min-width:621px) and (max-width:800px){
.ProjectPage {
  padding: 0 65px 65px 65px;
}

.ProjectPage .title {
margin: 30px 0;
}

}

@media (min-width: 801px){
.ProjectPage {
  padding: 20px 100px 100px 100px;
}

.ProjectPage .title {
  margin: 30px 20px 40px 0;
}


}
